body {
  height: 350px;
  /*max height 600*/
  width: 200px;
  /*max width 800*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #42c5f7;
}

button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.current {
  box-shadow: 0 0 0 2px white,
    0 0 0 4px black;
}

button:hover {
  cursor: pointer;
}

#deletePopup {
  display: none;
}