body {
  height: 275px;
  /*max height 600*/
  width: 200px;
  /*max width 800*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #42c5f7;
}

#deletePopup, #popup1, #popup2, #addPopup{
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  text-align: center;
}

button {
  min-height: 40px;
  min-width: 40px;
  outline: none;
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.current {
  box-shadow: 0 0 0 2px white,
    0 0 0 4px black;
}

button:hover {
  cursor: pointer;
}

#random:active, #addToFolder:active, #done:active {
  animation: shake 0.4s ease-out;
}

@keyframes shake {
  0% {
    transform: skewX(-10deg);
  }


  25% {
    transform: skewX(10deg);
  }

  50% {
    transform: skewX(-10deg);
  }


  75% {
    transform: skewX(-10deg);
  }

  100% {
    transform: skewX(10deg);
  }
}

#deletePopup {
  display: none;
}

#addPopup {
  display: none;
}

.two-button-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  max-height: 50px;
  max-width: 195px;
  overflow: hidden;
}